@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Glitch&family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Glitch&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-home {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./public/BgHome.svg') no-repeat center;
  background-size: cover;
}

.bg-pesquisa {
  background: url('./public/BgPesquisa.svg') no-repeat center;
  background-size: cover;
}

.font-rubik-glitch {
  font-family: 'Rubik Glitch', sans-serif;
}

.font-bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
